.about {
  @include for-size(mobile) {
    padding-top: 69px;
    padding-bottom: 75px;
  }
  padding-top: 158px;
  padding-bottom: 150px;
  position: relative;
  z-index: 2;
}

.about__image {
  @include for-size(mobile) {
    margin-top: 42px;
    margin-bottom: 0;
    width: 304px;
    height: 226px;
    background-position: bottom 0 left 95px, bottom 0 right 46px,
      bottom 0 left 36px;
    background-size: 75px, 111px, 103px;
  }
  width: 570px;
  height: 550px;
  background-image: url("../images/Master-Group-3.png"),
    url("../images/Master-Group-2.png"), url("../images/Master-Group-1.png");
  background-repeat: no-repeat;
  background-position: bottom 0 left 150px, bottom 0 right 0, bottom 0 left 0;
  background-size: 184px, 271px, 251px;

  margin-top: auto;
  margin-bottom: 67px;
}

.about__text {
  @include for-size(mobile) {
    margin-left: 0;
    width: 304px;
  }
  display: flex;
  flex-direction: column;
  width: 570px;
  margin-left: 62px;
}

.about--flex {
  @include for-size(mobile) {
    flex-direction: column-reverse;
  }
  display: flex;
}

.about__title {
  @include for-size(mobile) {
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
  }
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  /* or 45px */

  font-feature-settings: "pnum" on, "onum" on;

  /* Colour 1 */

  color: #3b464c;
}

.about__list {
  @include for-size(mobile) {
    padding-top: 42px;
  }
  padding-top: 47px;
}

.about__item {
  @include for-size(mobile) {
    padding: 28px 15px 28px 21px;
  }
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f2f7ff;
  border-radius: 30px;
  padding: 39px 32px 39px 38px;
}

.about__item:not(:last-child) {
  @include for-size(mobile) {
    margin-bottom: 25px;
  }
  margin-bottom: 50px;
}

.about__item-text {
  @include for-size(mobile) {
    font-size: 16px;
  }
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */

  color: #000000;
}
