.wrapper {
  @include for-size(mobile) {
    padding: 0 8px;
    max-width: 100%;
  }

  max-width: 1300px;
  padding: 0 65px;
  margin-left: auto;
  margin-right: auto;
}

.bg-wrapper {
  @include for-size(mobile) {
    max-width: 100%;
  }

  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.heading--color {
  color: #0062d1;
}

.absolute--arrow {
  @include for-size(tablet) {
    display: none;
  }
  @include for-size(mobile) {
    display: none;
  }
  position: absolute;
  top: 1466px;
  right: 108px;
  z-index: 1;
}
