.form {
  @include for-size(mobile) {
    padding-bottom: 72px;
  }
  padding-bottom: 120px;
}

.form--flex {
  @include for-size(mobile) {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  @include for-size(tablet) {
    flex-direction: column-reverse;
  }
  display: flex;
}

.form form {
  @include for-size(mobile) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  @include for-size(tablet) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__image {
  @include for-size(tablet) {
    margin: auto;
    margin-right: 50px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
  @include for-size(mobile) {
    max-width: 304px;
    margin-left: auto;
    margin-right: auto;
    height: 351px;
    margin-top: 71px;
    background-image: url("../images/Form-img-mobile.png");
    background-position: top 0 left 26px;
    background-size: 248px 351px;
    background-repeat: no-repeat;
  }
  width: 459px;
  height: 456px;
  margin-left: 100px;
  margin-right: 140px;
  background-image: url("../images/Form-Group.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.form__title {
  @include for-size(mobile) {
    max-width: 304px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    margin-left: auto;
    margin-right: auto;
  }
  margin-top: 10px;
  margin-bottom: 21px;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #3b464c;
}

.form__descr {
  @include for-size(mobile) {
    max-width: 304px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #3b464c;
}

.form__input {
  @include for-size(mobile) {
    max-width: 100%;
    padding-left: 12px;
    margin-bottom: 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
  }
  @include for-size(tablet) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    width: 100%;
  }
  display: block;
  width: 370px;
  height: 60px;

  background: #f2f7ff;
  border: 1px solid rgba(0, 98, 209, 0.43);
  box-sizing: border-box;
  border-radius: 30px;
  outline: none;
  padding-left: 15px;
  margin-bottom: 20px;
  transition: 300ms ease;
}

.form__input:focus {
  @include for-size(mobile) {
    border: 2px solid #0062d1;
  }
  background: #ffffff;
  font-weight: 500;
  color: #37474f;
  border: 4px solid #0062d1;
  transition: 300ms ease;
}

.form__input::placeholder {
  @include for-size(mobile) {
  }
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #7a7a7a;
}

.form__button {
  @include for-size(mobile) {
    max-width: 100%;
  }
  @include for-size(tablet) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  width: 370px;
  height: 60px;
  background: #0062d1;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-feature-settings: "pnum" on, "onum" on;
  color: #ffffff;
  outline: none;
  border: none;
  transition: 300ms ease;
}

.form__button:hover {
  background: #ffffff;
  border: 2px solid #0062d1;
  color: #7cb1ff;
  transition: 300ms ease;
}

.form__button:active {
  background: #7cb1ff;
  border: none;
  color: #fff;
  transition: 300ms ease;
}

@media (min-width: 1090px) and (max-width: 1300px) {
  .form__image {
    margin-right: 60px;
  }
}
