.header {
  @include for-size(mobile) {
    padding: 29px 0 43px 0;
    background-image: url("../images/menu-elipse.svg");

    background-position: right 0 top 8px;
    background-repeat: no-repeat;
  }
  padding: 49px 0 63px;
}

.navigation {
  display: flex;
}

.company__logo__header {
  @include for-size(mobile) {
    width: 144px;
    height: auto;
  }
  width: 271px;
  height: auto;
}

.navigation__list {
  @include for-size(mobile) {
    background: #0062d1;
    padding: 28px 8px;

    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 386px;

    display: none;
  }

  margin-left: auto;
  display: flex;
  align-items: center;
  // TODO: check
  padding-bottom: 10px;
}

.navigation__item:not(:last-child) {
  @include for-size(mobile) {
    margin-bottom: 35px;
  }
  margin-right: 40px;
}

.navigation__link,
.navigation__link:visited {
  @include for-size(mobile) {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */

    color: #ffffff;

    /* Inside Auto Layout */
  }
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  padding: 5px 0;

  font-feature-settings: "pnum" on, "onum" on, "case" on;

  /* Colour 1 */

  color: #3b464c;
}

.navigation__link:hover {
  border-bottom: 1px solid #3b464ca4;
}

.nav-close {
  @include for-size(mobile) {
    display: block;
    margin-left: auto;
    padding-bottom: 27px;
    width: 16px;
    height: 16px;
  }
}

.mobile__menu {
  @include for-size(mobile) {
    display: block;
    margin-left: auto;
    padding-bottom: 27px;
    width: 21px;
    height: 15px;
    background-image: url("../images/menu.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
