.header {
  @include for-size(mobile) {
    padding: 29px 0 43px 0;
    background-image: url("../images/menu-elipse.svg");
    background-position: right 0 top 8px;
    background-repeat: no-repeat;
  }
  padding: 49px 0 63px;
}

.navigation {
  @include for-size(mobile) {
  }
  @include for-size(tablet) {
    align-items: center;
  }
  display: flex;
}

.company__logo__header {
  @include for-size(mobile) {
    width: 144px;
    height: auto;
  }
  width: 271px;
  height: auto;
}

.navigation__list {
  @include for-size(tablet) {
    padding-left: 20px;
  }
  @include for-size(mobile) {
    display: none;
  }

  margin-left: auto;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.navigation__item:not(:last-child) {
  @include for-size(mobile) {
    margin-bottom: 35px;
  }

  margin-right: 40px;
}

.navigation__link,
.navigation__link:visited {
  @include for-size(mobile) {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #ffffff;
  }
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  font-feature-settings: "pnum" on, "onum" on, "case" on;
  color: #3b464c;
  transition: 300ms ease;
}

.navigation__link:hover {
  @include for-size(mobile) {
    color: #3b464c;
    border: none;
  }
  @include for-size(tablet) {
    color: #3b464c;
    border: none;
  }
  border-bottom: 1px solid #3b464ca4;
  color: #0062d1;
  transition: 300ms ease;
}

.nav-close {
  @include for-size(mobile) {
    display: block;
    margin-left: auto;
    padding-bottom: 27px;
    width: 16px;
    height: 16px;
  }
}

.mobile__menu {
  @include for-size(mobile) {
    display: block;
    margin-left: auto;
    padding-bottom: 27px;
    width: 21px;
    height: 15px;
    background-image: url("../images/menu.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.active {
  @include for-size(mobile) {
    display: block;
    background: #0062d1;
    padding: 35px 8px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 386px;
  }
}
.close {
  display: none;
}

@media (min-width: 767px) and (max-width: 1020px) {
  .company__logo__header {
    width: 184px;
    height: auto;
  }
  .navigation__link {
    font-size: 16px;
    line-height: 20px;
  }
}
