@mixin for-size($range) {
  $mobile: 320px;
  $tablet: 768px;
  $desktop: 1090px;

  @if $range == mobile {
    @media (max-width: #{$tablet - 1}) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) and (max-width: $desktop) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

// (min-width: $mobile)
// and (max-width: $desktop)
