.position {
  @include for-size(mobile) {
    padding: 65px 0 48px 0;
  }
  padding: 126px 0;
}

.position__title {
  @include for-size(mobile) {
    text-align: center;
    max-width: 100%;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    margin-left: auto;
    margin-right: auto;
  }
  width: 572px;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "onum" on;
  color: #3b464c;
}

.position__list {
  @include for-size(mobile) {
    margin-top: 43px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 304px;
  }
  margin-top: 40px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.position__item {
  @include for-size(mobile) {
    width: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  width: 320px;
}

.position__item:not(:last-child) {
  @include for-size(mobile) {
    margin-right: 0px;
    margin-bottom: 35px;
  }
  margin-right: 40px;
}

.position__item-image {
  @include for-size(tablet) {
    margin-left: auto;
    margin-right: auto;
  }
  @include for-size(mobile) {
    width: 100px;
    height: 100px;
    margin-left: 0;
  }
  width: 170px;
  height: 170px;
  margin-left: 40px;
}

.position__item:nth-child(1) .position__item-image {
  background-image: url("../images/Web-Group-1.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.position__item:nth-child(2) .position__item-image {
  background-image: url("../images/Web-Group-2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.position__item:nth-child(3) .position__item-image {
  background-image: url("../images/Web-Group-3.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.position__item-text {
  @include for-size(mobile) {
    margin-top: 15px;
    text-align: center;
  }
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #3b464c;
  margin-top: 40px;
}
