.webmaster {
  padding: 57px 65px 75px 65px;
  background: #f2f7ff;
}

.webmaster__title {
  width: 576px;

  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  /* or 45px */

  font-feature-settings: "pnum" on, "onum" on;

  color: #3b464c;
}

.webmaster__list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.webmaster__item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 370px;
  height: 129px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.webmaster__item:not(:last-child) {
  margin-right: 30px;
}

.webmaster__item:nth-child(3) {
  margin-right: 0;
}

.webmaster__item:nth-child(6) {
  margin-right: 0;
}

.webmaster__item:nth-child(7) {
  margin-bottom: 0;
}

.webmaster__item:nth-child(8) {
  margin-bottom: 0;
}

.webmaster__item:nth-child(9) {
  margin-bottom: 0;
}

.webmaster__item-text {
  width: 330px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */

  /* Colour 1 */

  color: #3b464c;
}
